# Dependencies
node_modules/

# Build output
dist/
*.js
!eslint.config.js
*.d.ts
*.js.map

# CDK
cdk.out/
.cdk.staging/

# Environment
.env
.env.local

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Testing
coverage/
terraform/.terraform/lambda.zip
terraform/.terraform/providers/registry.terraform.io/hashicorp/archive/2.7.1/windows_amd64/terraform-provider-archive_v2.7.1_x5.exe
terraform/.terraform/providers/registry.terraform.io/hashicorp/aws/5.100.0/windows_amd64/terraform-provider-aws_v5.100.0_x5.exe
